Tes!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Profile Page
  %body{:style=>"background-color:#white"}
    %header#header
      %nav.navbar.navbar-fixed-top
        .container
          .navbar-header
            %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            -#%a.navbar-brand{:href => "home.html.haml"} UpDoc
            
            #imagebox 
              = link_to image_tag("Logo.png", :style => "height:65px;"), homepage_home_path(:refresh => 'refresh')
          .collapse.navbar-collapse.navbar-right
            %ul.nav.navbar-nav
              %li
                = link_to 'Home', homepage_home_path(:refresh => 'refresh')
              %li
                = link_to 'Sign Up', signup_signup_path()
              %li
                %a= link_to 'Log Out', login_path
              %li
                = link_to 'Contact Us', contact_us_path()
    #appt{:style => "position:relative;top:130px;height:600px;background-color:white;"}
      .col-md-12{:style =>"font-size:25px;text-align:center;padding:20px;position:relative;background-color:white;"} Appointments
      .col-md-6.col-md-offset-5{:style=>"font-size:18px;color:red;padding:20px"}
        = flash[:notice1]       
      #profiledata.col-md-11{:style=>"position:relative;left:50px;padding-left:0px;"}  
        #profiles.col-md-4{:style =>"height:200px;width:100%;background-color:white;border:1px solid;position:relative;top:25px;" }
          %table{:style => "border:1px,solid;width:70%;margin: auto;padding:20px;"}
            %thead
              %tr
                %th{:style => "border-bottom:1px solid;"} Doctor
                %th{:style => "border-bottom:1px solid;"} Slot
                %th{:style => "border-bottom:1px solid;"} Availability
            %tbody
            - @data.each do |appt|
              %tr
                %td= appt.did
                %td= appt.slot
                %td= appt.av
  .row{:style=>"background-color:white;"}
    .col-md-12{:style=>"font-size:30px;padding:20px;"} Make Appointment
    .col-md-6.col-md-offset-3{:style=>"font-size:18px;color:red;padding-bottom:15px"}
      = flash[:notice]
    .col-md-6.col-md-offset-3
      
      = form_for(:session, url: appointment_confirm_path) do |f|
        
        = f.label :docid, "Doctor Email"
        = f.text_field :docid, class: 'form-control'
        = f.label :slot, "Time Slot"
        = f.text_field :slot, class: 'form-control'
        = f.label :pname, "Patient Name"
        = f.text_field :pname, class: 'form-control'
        = f.submit "Confirm", class: "btn btn-primary"
       
  #emptydiv{:style => "height: 200px"}